h3 {
  color:#862a57;
  font-family: 'Trocchi', serif; 
  font-size: 30px; 
  font-weight: normal; 
  margin: 0;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  justify-content: center;
  background-image: url("https://wallpaperaccess.com/full/253548.jpg");
  background-repeat: no-repeat;
  background-size: 1500px 900px;
}

input, button {
  background-color: rgb(207, 204, 204);
  padding: 5px;
  margin: 5px;
  border: 2x solid rgb(41, 32, 32);
  border-radius: .5rem;
  font-family: 'Trocchi', serif; 
  font-size: 15px; 
  font-weight: normal; 
  color: #373052;;
}

button{
  width: 150px;
}

.keyboard-base {
  opacity: 0.75;
  max-width: 1085px;
  padding: 5px;
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(197, 197, 197);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(30, 30px);
  grid-template-rows: repeat(5, 60px);
  grid-gap: 5px;
}

.key, .change_white, .change_red {
  background-color: rgb(207, 204, 204);
  border: 2px solid black;
  border-radius: 5px;
  grid-column: span 2;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

.key:hover {
  border: 1px solid #eeeeee;
}

.delete {
  grid-column: span 4;
}

.tab {
  grid-column: span 3;
}

.backslash {
  grid-column: span 3;
}

.capslock {
  grid-column: span 4;
}

.return {
  grid-column: span 4;
}

.leftshift {
  grid-column: span 5;
}

.rightshift {
  grid-column: span 5;
}

.leftctrl {
  grid-column: span 3;
}

.command {
  grid-column: span 3;
  font-size: 14px;
}

.space {
  grid-column: span 13;
}

.change_red{
  background-color: sienna;
}

#change_white{
  background-color: rgb(207, 204, 204);
}

#change_red{
  background-color: sienna;
}

.change_white{
  background-color: rgb(207, 204, 204);
}

.statistics{
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.speed, .errors, .score {
  background-color: #c0ffc8;
  height: 20px;
  width: 150px;
  margin: 8px;
  padding: 12px;
  border-radius: 20%;
  box-shadow: black 3px 6px 3px;
}

strong{
  background-color:#c0ffc8;
 }

 #page-error{
  color: #77424b;
  margin: 5px;
 }

 .container2 {
  display: flex;
  justify-content: space-between;
}

.container {
  opacity: 0.85;
  margin: 5px;
  background-color: #ac999e;
  padding: 1rem;
  border-radius: .5rem;
}

.text-to-type{
  height: 150px;
}

.typed-text{
  background-color: rgb(207, 204, 204);
  padding: 1rem;
  border-radius: .5rem;
  height: 125px;
}

p{
  white-space: pre-wrap;
  color:#6b2346;
}

.start-typing{
  color:  #373052;
}

span{
  display:block;
}